# Clangd configuration for Linux. Based on my Linux username are "loq". The default ESP-IDF v6.0 uses clangd.
# Documentation: https://clangd.llvm.org/config, https://docs.espressif.com/projects/espressif-ide/en/latest/additionalfeatures/clangd_cdt_support.html

# Render "Doxygen" format. Only works on Clangd-22
Documentation:
    CommentFormat: Doxygen

InlayHints:
    ParameterNames: false

Hover:
    ShowAKA: false

CompileFlags:
    BuiltinHeaders: QueryDriver

    CompilationDatabase: build/
    Remove:
        - -f*
        - -m*
    Add:
        - -isystem
        - -std=c++17
        - -xc++
        - -Wformat
        - -Werror=format
        - -Wall
        - -Wextra
